.it_solution {
    background-image: url("../images//bestItSolution.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 120px 0px 120px 0px;
}

.it_img_wrap {
    position: relative;
    animation: leftcome 1.6s 1 linear;
}

.it_img_wrap img {
    width: 80%;
    border-radius: 5px;
}

.it_v_wrap {
    position: absolute;
    right: 0;
    bottom: -8%;
}

.it_v_wrap img {
    border-radius: 5px;
}

.it_text_wrap {
    padding: 2.6rem 0rem 0rem;
    animation: rightcome2 1.6s 1 linear;
}

.it_heading p svg {
    font-size: var(--font-size-icon);
}

.it_card_wrap {
    padding: 15px;
    background-color: #fff;
    border-radius: 5px;
    display: flex;
    margin: 35px 0px 40px 0px;
    align-items: center;
    width: fit-content;
}

.it_card_wrap span {
    background-color: aliceblue;
    width: 90px;
    height: 90px;
    margin-right: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.it_card_wrap span svg {
    stroke: var(--text-color2);
    color: var(--text-color2);
    font-size: var(--font-size-icon);
}

.it_card_wrap div p {
    font-size: 14px !important;
    font-family: "ExoRegular" !important;
    margin-bottom: 10px !important;
}

.it_card_wrap div h2 {
    font-size: 16px;
    font-family: "ExoBold" !important;
    margin-bottom: 0rem !important;
}

.it_card_wrap div h2 a {
    color: var(--text-color);
    text-decoration: none;
    font-size: 16px;
    font-family: "ExoBold" !important;
    margin-bottom: 0rem !important;
}

.it_card_wrap div h2 a:hover {
    color: var(--text-color2);
}

@media (max-width: 1200px) {
    .it_img_wrap img {
        width: 90%;
        border-radius: 5px;
    }
    .it_v_wrap {
        position: absolute;
        right: 0;
        bottom: -22%;
    }
}

@media (max-width: 991px) {
    .it_solution {
        padding: 60px 0px 60px 0px;
    }
    .it_img_wrap img {
        width: 100%;
        border-radius: 5px;
    }
    .it_v_wrap {
        position: absolute;
        right: 0;
        bottom: 0;
    }
}
@media (max-width: 567px) {
    .it_v_wrap {
        position: absolute;
        right: 0;
        bottom: 0;
    }
    .it_card_wrap span {
        width: 40px;
        height: 40px;
        margin-right: 1.2rem;
    }
    .it_card_wrap div p {
        margin-bottom: 0px !important;
    }
    .it_v_wrap img {
        width: 200px;
    }
    .it_card_wrap div h2 a,
    .it_card_wrap div h2 {
        font-size: 14px;
        font-family: "SemiBold" !important;
    }
}
